/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2019-07-31 13:53:48 */
.page-footer {
     background: none;
     padding: 0;
}
.page-footer:before {
     background-image: none;
}
.page-footer .brk-map_extra {
    box-shadow: inset -3px 3px 10px rgba(0,0,0,.1);
}
.shop-elec-subscribe {
    z-index: 2;
    position: relative;
            display: flex;
    align-items: center;
     justify-content: stretch;
}
.shop-elec-subscribe .newsletter{
    margin: 0;
    flex: 1;
}
@media (max-width: 728px) {
    .shop-elec-subscribe .content {
        width: 100%;
        padding: 0 15px;
    }
}
input#newsletter {
    height: 54px;
    border-radius: 27px;
    font-size: 14px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    padding: 0 15px 0 30px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: rgba(255, 255, 255, .12);
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
}
input#newsletter:focus {
    border-color: #fff;
}
.shop-elec-subscribe .block.newsletter .action.subscribe {
    margin-left: -23px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    outline: none;
    background: #fff;
    color: #2775ff;
    border: 0;
    padding: 15px 33px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.shop-elec-subscribe .block.newsletter .field .control:before {
    display: none;
}

.shop-elec-subscribe .block.newsletter .action.subscribe:hover {
    background: #2775ff;
    color: #fff;
}
.brk-map_extra .brk-map__canvas {
       width: 100%;
}
.brk-map:before {
       display: none;
}
.page-footer a{
   color:#9f9f9f;
}
.page-footer a:hover{
   color:rgba(0,0,0,.7);
}
body:not(.cms-index-index) .page-wrapper .top-container::before {

    background: none;
    background: none;
}.page-footer {
    padding: 0;
}
.page-footer > div {
    background-color: #000 !important;
}
.page-header.type4 .switcher{
display:none!important;
}